In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import requests
import datetime as dt

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

Driver [C:\Users\TriciaToffey\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [3]:
# HEADLINES

In [4]:
url="https://redplanetscience.com/"
browser.visit(url)

In [5]:
html=browser.html
soup=bs(html, 'html.parser')

In [6]:
#print(soup.prettify())

In [7]:
results=soup.find_all("div", class_='list_text')

In [8]:
title_list=[]
news_list=[]

for result in results:
    try:
        titles=result.find_all("div", class_="content_title")
        news=result.find_all("div", class_="article_teaser_body")
        
        for item in titles:
            title=item.text
        
        for item in news:
            headline=item.text
        
        title_list.append(title)
        news_list.append(headline)
        
    except Exception as e:
        print(e)
        
title=title_list[0]
headline=news_list[0]
print(title)
print(headline)

Alabama High School Student Names NASA's Mars Helicopter
Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

In [9]:
# SPACE IMAGES

In [10]:
url="https://spaceimages-mars.com/"
browser.visit(url)

In [11]:
html=browser.html
soup=bs(html, 'html.parser')

In [12]:
results=soup.find_all("img", class_='headerimage fade-in')

In [13]:
for result in results:
    image_src=result['src']
    print (image_src)

image/featured/mars1.jpg

In [14]:
image_src=(f'https://spaceimages-mars.com/{image_src}')

In [15]:
image_src

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [16]:
browser.quit()

In [17]:
#Mars Facts

In [18]:
import pandas as pd
import numpy as np

In [19]:
url="https://galaxyfacts-mars.com/"

In [20]:
table=pd.read_html(url)

In [21]:
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [22]:
df=table[0]

In [23]:
df=df.rename(columns={0:'',1:"Mars", 2:"Earth"})

In [24]:
cols = list(df.columns[[0]])
df= df.set_index(cols)
print(df)

                                    Mars            Earth

Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [25]:
df=df.append(pd.Series(name='Description'))
df = df.reindex(np.roll(df.index, shift=1))
df=df.fillna("")

<ipython-input-25-1e4625d1c83e>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df=df.append(pd.Series(name='Description'))

In [26]:
df

                                    Mars            Earth

Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [27]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Description</th>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [28]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Description</th>      <td></td>      <td></td>    </tr>    <tr>      <th>Mars - Earth Comparison</th>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [29]:
html_string = html_table

In [30]:
df.to_html('table.html')

In [31]:
#!open table.html

In [32]:
browser.quit()

In [35]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\TriciaToffey\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [36]:
import time
time.sleep(1)

In [37]:
url="https://www.marshemispheres.com/index.html"
browser.visit(url)

In [38]:
html=browser.html
soup=bs(html, "html.parser")

In [39]:
#urls for separate pages
photos_url = []
base_url='https://www.marshemispheres.com/'
html=browser.html
soup=bs(html, "html.parser")
results = soup.find_all("div", attrs={"class" : "item"})
for result in results:
    link=result.find('a')['href']
    url = base_url + link  
    photos_url.append(url)

for i in photos_url:
    print(i)

https://www.marshemispheres.com/cerberus.html
https://www.marshemispheres.com/schiaparelli.html
https://www.marshemispheres.com/syrtis.html
https://www.marshemispheres.com/valles.html

In [40]:
picture_urls = []
titles=[]
base_url = "https://www.marshemispheres.com/"
for i in photos_url:
    browser.visit(i)
    #print(i)
    time.sleep(2)
    
    html=browser.html
    soup=bs(html, "html.parser")
   
    #results = soup.find_all("a", href=lambda href: href and "images*.jpg" in href )
    results = soup.find("a", href=lambda href: href and href.endswith("jpg"))
    #picture_urls.append(results)
    
    pic_url=results["href"]
    picture_urls.append(pic_url)
    
    #Titles
#     html=browser.html
#     soup=bs(html, "html.parser")
    results=soup.find_all('h2', class_='title')
    
    
    for result in results:
        title=result.text
        title=' '.join(title.split(' ')[:-1])
        titles.append(title)                
   
    browser.click_link_by_partial_href('index.html') 
    
print(picture_urls)   
print(titles)

C:\Users\TriciaToffey\anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:482: FutureWarning: browser.find_link_by_partial_href is deprecated. Use browser.links.find_by_partial_href instead.
  warnings.warn(

['images/full.jpg', 'images/schiaparelli_enhanced-full.jpg', 'images/syrtis_major_enhanced-full.jpg', 'images/valles_marineris_enhanced-full.jpg']
['Cerberus Hemisphere', 'Schiaparelli Hemisphere', 'Syrtis Major Hemisphere', 'Valles Marineris Hemisphere']

In [41]:
hemispheres_img_urls = []

In [42]:
for x,y in zip(titles, picture_urls):
    dictionary = {"title": x, "img_url":y}   
    hemispheres_img_urls.append(dictionary)

In [43]:
for i in hemispheres_img_urls:
    print(i)

{'title': 'Cerberus Hemisphere', 'img_url': 'images/full.jpg'}
{'title': 'Schiaparelli Hemisphere', 'img_url': 'images/schiaparelli_enhanced-full.jpg'}
{'title': 'Syrtis Major Hemisphere', 'img_url': 'images/syrtis_major_enhanced-full.jpg'}
{'title': 'Valles Marineris Hemisphere', 'img_url': 'images/valles_marineris_enhanced-full.jpg'}

In [ ]:
browser.quit()